.darkBackground {
    background-color: #333333;
    color: white; /* Tekstkleur voor zwarte achtergrond */
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}