.footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  background-color: #393e46;
  text-align: center;
  padding: 10px 0;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.footerLink {
  margin: 0 30px;
  text-decoration: none;
  transition: font-weight 0.3s ease, color 0.3s ease;
}

.footerLink:hover {
  font-weight: bold;
}

.footerLink.active {
  font-weight: bold;
  color: orange;
}

.footerIcon {
  width: 20px;
  height: auto;
  max-height: 35px;
}

.footerIconMap {
  width: 15px;
  height: auto;
  max-height: 30px;
}

.active {
  fill: orange;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}