.lightBackground {
    background-color: #ffffff;
    color: #333333;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
    padding-top: 80px;
}

.footer {
    display: flex;
    gap: 20px; /* Ruimte tussen de knoppen */
    justify-content: center;
    padding: 20px;
    padding-bottom: 120px;
    flex-wrap: wrap;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #333333 ;
}


/* Stijl voor knoppen */
.button {
    background-color: #F2F2F2; /* Blauwe achtergrond */
    color: #333333; /* Witte tekst */
    border: none;
    border-radius: 20px;
    padding: 12px 40px;
    font-size: 14px;
    width: 150px;
    height: 36px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0; /* Knoppen blijven dezelfde grootte houden */
}

/* Hover-effect voor knoppen */
.button:hover {
    background-color: #cccccc; /* Donkerdere blauwe kleur */
}

/* Media queries voor responsiviteit */
@media (max-width: 768px) {
    .button {
        padding: 10px 30px;
        font-size: 12px;
        width: 150px;
        height: 36px;
    }

    .footer {
        gap: 10px;
        padding-bottom: 120px;
        padding: 20px;
    }
    .title {
        font-size: 20px;
        padding: 10px;
    }


}

@media (max-width: 480px) {
    .button {
        padding: 8px 20px;
        font-size: 14px;
        width: 150px;
        height: 36px; /* Laat knoppen aanpassen aan de inhoud */
    }

    .footer {
        gap: 10px;
        padding-bottom: 120px;
    }
    .title {
        font-size: 18px;
        padding: 8px;
    }
}

@media (max-width: 375px) {
    .button {
        padding: 8px 20px;
        font-size: 12px;
        width: 120px;
        height: 36px; /* Laat knoppen aanpassen aan de inhoud */
    }

    .footer {
        gap: 10px;
        padding-bottom: 120px;
    }
    .title {
        font-size: 18px;
        padding: 8px;
    }
}

.colorsContainer {
    margin-top: 20px;
    text-align: center;
}

.colorsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.colorBlock {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
