.lightBackground {
    background-color: #ffffff;
    color: #333333;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'montserrat', sans-serif;
}

.footer {
    display: flex;
    gap: 20px; /* Ruimte tussen de knoppen */
    justify-content: center;
    padding: 20px;
    padding-bottom: 120px;
}

/* Stijl voor knoppen */
.button {
    background-color: #F2F2F2; /* Blauwe achtergrond */
    color: #333333; /* Witte tekst */
    border: none;
    border-radius: 20px;
    padding: 12px 40px;
    width: 150px;
    height: 36px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover-effect voor knoppen */
.button:hover {
    background-color: #cccccc; /* Donkerdere blauwe kleur */
}